You are an expert assistant helping determine if a programming task has been completed.

Here is the original task:
---
{{ task_description }}
---

Here is a list of steps and results completed so far:
---
{{ history }}
---

Please respond with one of the following:
- YES: if the task appears complete
- NO: if additional work is clearly needed